# ignore binaries
binaries/*.dll
binaries/*.lib

# ignore FMUs for testing
*.fmu

# ignore pickle file from installation process
powerfactory-fmu-install.pkl

# ignore output from compiling the documentation
doc/powerfactory-fmu-doc.aux
doc/powerfactory-fmu-doc.bbl
doc/powerfactory-fmu-doc.blg
doc/powerfactory-fmu-doc.log
doc/powerfactory-fmu-doc.out
doc/powerfactory-fmu-doc.pdf
doc/powerfactory-fmu-doc.ptc
doc/powerfactory-fmu-doc.synctex.gz
doc/powerfactory-fmu-doc.toc

# ignore extra files from running CMake
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
CMakeCache.txt
CMakeFiles
FMIPP_POWERFACTORY_FMU_EXPORT.opensdf
FMIPP_POWERFACTORY_FMU_EXPORT.sdf
FMIPP_POWERFACTORY_FMU_EXPORT.sln
Release
Win32
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
ZERO_CHECK.vcxproj.user
cmake_install.cmake
libfmipp_fmu_frontend.dir
libfmipp_fmu_frontend.vcxproj
libfmipp_fmu_frontend.vcxproj.filters
libfmipp_fmu_frontend.vcxproj.user