# ignore binaries
*.exe
binaries/fmi2.*
binaries/fmiadapter.*
binaries/libboost_filesystem-vc141-mt-x64-1_72.lib
binaries/libboost_system-vc141-mt-x64-1_72.lib
binaries/libboost_thread-vc141-mt-x64-1_72.lib
binaries/libfmipp_fmu_frontend.lib

# ignore FMUs for testing
*.fmu

# ignore pickle file from installation process
powerfactory_fmu_install.pkl

# ignore .pyc files
*.pyc

# ignore output from compiling the documentation
doc/powerfactory-fmu-doc.aux
doc/powerfactory-fmu-doc.bbl
doc/powerfactory-fmu-doc.blg
doc/powerfactory-fmu-doc.log
doc/powerfactory-fmu-doc.out
doc/powerfactory-fmu-doc.pdf
doc/powerfactory-fmu-doc.ptc
doc/powerfactory-fmu-doc.synctex.gz
doc/powerfactory-fmu-doc.toc

# ignore build directories
release/*msvc*